{% extends layout_path %}
{% load widget_tweaks %}

{% load i18n %}

{% block title %}Dashboard{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
<script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
    <script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
    <script src="{% static 'js/wallet-dashboard.js' %}"></script>
{% endblock page_js %}

{% block content %}

<div class="row">

  {% for wallet in wallets %}
  <!-- Wallet Card -->
  <div class="col-xl-2 col-md-4 col-6 mb-4">
    <div class="card">
      <div class="card-body">
<img class="rounded-circle" width="40" height="40"
     src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/{{ wallet.currency.flag_code }}.svg"        <h5 class="card-title mb-1 pt-2">{{ wallet.name }}</h5>
        <p class="mb-2 mt-1">{{ wallet.balance }}{{ wallet.currency.symbol }}</p>
        <div class="pt-1">
          <span class="badge bg-label-secondary">-00.0%</span>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}


  <!-- Transaction table -->
  <div class="col-xl-12">
    <div class="card">
      <div class="table-responsive card-datatable">
        <table class="table datatable-invoice border-top">
          <thead>
            <tr>
              <th></th>
                <th>ID</th>
                <th>FROM</th>
                <th>Amount</th>
                <th>TO</th>
                <th>Amount</th>
                <th>User</th>
                <th>Transaction Type</th>
                <th>Created Date</th>
{#              <th>Actions</th>#}
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
  <!-- /Transaction table -->

  <!-- Create Wallet modal -->

<div class="modal fade" id="modalWallet" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCenterTitle">Create Wallet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="{% url 'create_wallet' %}">
        {% csrf_token %}
        <div class="modal-body">
          {% if form.errors %}
            <div class="alert alert-danger">
              Please correct the errors below.
            </div>
          {% endif %}
          <div class="row">
            <div class="col mb-3">
              <label for="walletName" class="form-label">Name</label>
              {% render_field form.name class="form-control" id="walletName" placeholder="Enter Wallet Name" %}
            </div>
          </div>
          <div class="row g-2">
            <div class="col mb-0">
              <label for="walletCurrency" class="form-label">Currency</label>
              {% render_field form.currency class="form-control" id="walletCurrency" placeholder="Enter Currency" %}
            </div>
            <div class="col mb-0">
              <label for="walletInitialAmount" class="form-label">Balance</label>
              {% render_field form.balance class="form-control" id="walletInitialAmount" placeholder="Enter Balance" %}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

    <!-- Wallet Transaction modal -->
<div class="modal fade" id="modalWalletTransaction" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCenterTitle">Create Wallet Transaction</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="{% url 'wallets-transactions' %}">
        {% csrf_token %}
        <div class="modal-body">
          {% if form.errors %}
            <div class="alert alert-danger">
              Please correct the errors below.
            </div>
          {% endif %}
          <div class="row">
            <div class="col mb-3">
              <label for="walletName" class="form-label">From Wallet</label>
              {% render_field wallet_transactions_form.from_wallet class="form-control" id="walletName" placeholder="Enter Wallet Name" %}
            </div>
          </div>
             <div class="row">
            <div class="col mb-3">
              <label for="walletName" class="form-label">To Wallet</label>
              {% render_field wallet_transactions_form.to_wallet class="form-control" id="walletName" placeholder="Enter Wallet Name" %}
            </div>
          </div>
          <div class="row g-2">
            <div class="col mb-0">
              <label for="walletCurrency" class="form-label">Transaction Rate</label>
              {% render_field wallet_transactions_form.rate class="form-control" id="walletCurrency" placeholder="Enter Transaction rate" %}
            </div>
            <div class="col mb-0">
              <label for="walletInitialAmount" class="form-label">Amount</label>
              {% render_field wallet_transactions_form.amount class="form-control" id="walletInitialAmount" placeholder="Enter Amount" %}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}
</div>